body{
    text-align: center;
    background-color: orange;
}
div{
    margin-top: 15px;
    justify-content: center
}
.image-sction{
    display: flex;
    justify-content: center;
}
.section-style{
    margin-right: 25px;
    margin-left: 25px;
    background-color: white;
}
img{
    width: 400px;
    height: 200px;
    
}